body {
    margin: 0;
    background-image: url('./assets/images/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
